<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PlayList</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>

				<th>Playlist Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="playlist:${playlists}">

				<td th:text="${playlist.name}"></td>
				<td>
					<ol>
						<li th:each="song:${playlist.songs}"><span> 
							<audio controls>
								<source th:src="${song.link}" type="audio/mpeg">
							</audio>
						</span></li>
					</ol>
				</td>
			</tr>

		</tbody>
	</table>
</body>
</html>